.container {
    min-height: 100vh;
    width: 100%;
}
.heading {
    font-size: 1.5em;
    margin: 20px;
    text-decoration: underline;
    text-align: center;
}
.users_list {
    position: relative;
    width: 100%;
    margin: 20px;
}
.users_list a {
    color: #222;
    text-decoration: none;
    position: relative;
}

.users_list a .user {
    position: relative;
    width: 80%;
    background: #f1f1f1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 6px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.users_list a .user::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 52px;
    top: 0;
    left: 0;
    background: #319ef7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.users_list a .user:hover {
    transition: 0.5s;
    transform: translate(-5px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.users_list a .user .details {
    margin-left: 20px;
    line-height: 0.75em;
}
.users_list a .user .details h4 {
    font-size: 1em;
}
.users_list a .user .details span {
    font-size: 0.85em;
}
.users_list a .user .btn_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.users_list a .user .btn_box div i {
    font-size: 1.2em;
    margin-right: 10px;
    color: #319ef7;
}
.add_btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_btn div button {
    outline: none;
    border: none;
    background: #319ef7;
    padding: 10px 12px;
    border-radius: 3px;
    color: #fff;
}

/* New User page styling */
.form_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container form {
    width: 70%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding: 20px;
    border-radius: 3px;
    background: #fafafa;
    align-content: center;
}

.form_heading {
    font-size: 0.95em;
    font-weight: 600;
    text-align: center;
}

form .input_box {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
form .input_box input {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 4px 6px;
    font-weight: 550;
    outline: none;
}
form .submit_btn {
    position: relative;
    width: 100%;
    padding: 4px 6px;
    outline: none;
    background: #319ef7;
    color: #fff;
    font-size: 550;
    border: none;
    border-radius: 3px;
}